.main {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;

    &__playground {
        background: linear-gradient(#33375B, #323763);
        border-radius: 8px;
        

        &-buttons {
            display: flex;
            justify-content: space-between;
            padding: 24px 48px;

            &-item {
                display: flex;
                justify-content: space-between;
                gap: 10px;
            }

            &-item:hover {
                cursor: pointer;

                .main__playground-buttons-text {
                    color: $text-default;
                }
    
                svg path {
                    stroke: $text-default;
                }
            }

            &-text {
                font-weight: normal;
                font-size: 14px;
                color: $interactive-text-default;
            }
        }

        &-field {
            background: linear-gradient(#3E4376, #3E4376);
            border-radius: 8px;
            height: 452px;
            min-width: 452px;

            &-wrapper {
                display: flex;
            }

            &__letter-stroke {
                display: flex;
                gap: 4px;             
                padding-top: 12px;
                padding-left: 48px;
            }

            &__number-stroke {
                padding-top: 4px;
                padding-left: 12px;
                display: flex;
                flex-direction: column;
                gap: 4px;
            }

            &-cells {
                position: relative;
                width: 356px;
                display: flex;
                flex-wrap: wrap;
                margin-left: 4px;
                margin-top: 4px;
                gap: 4px;
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 56px;
        margin-top: 80px;

        &-title {
            font-weight: bold;
            font-size: 30px;
            color: $text-default;
        }

        &-instructions {
            display: flex;
            flex-direction: column;
            gap: 64px;

            &-item {
                display: flex;
                gap: 24px;
                align-items: center;

                &-text {
                    font-weight: normal;
                    font-size: 14px;
                    color: $text-default;
                }
            }
        }

        &-button-start {
            max-width: 200px;
        }
    }
}

.placed svg path {
    fill: #323763;
}

@media screen and (max-width: 900px) {
    .main {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 24px;

        &__info {
            align-self: initial;
            text-align: center;

            &-instructions-item {
                justify-content: center;
            }

            &-button-start {
                max-width: 100%;
            }
        }
    }
}