.ships {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    gap: 24px;
    flex-direction: column;

    div[draggable="true"] {
        cursor: move;
    }

    div[draggable="false"] {
        cursor: default;
    }

    &-big {
        display: flex;
        gap: 24px;
    }

    &-small {
        display: flex;
        gap: 16px;
    }
}

@media screen and (max-width: 900px) {
    .ships {
        align-items: center;

        &__info {
            align-self: initial;
            text-align: center;

            &-instructions-item {
                justify-content: center;
            }

            &-button-start {
                max-width: 100%;
            }
        }
    }
}