.ships {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    gap: 24px;
    flex-direction: column;

    &-big {
        display: flex;
        gap: 24px;
    }

    &-small {
        display: flex;
        gap: 16px;
    }
}

.ships-big {
    display: flex;
    gap: 24px;
}

.ships-small {
    display: flex;
    gap: 16px;
}

@media screen and (max-width: 900px) {
    .ships {
        align-items: center;

        &__info {
            align-self: initial;
            text-align: center;
        }

        &__info-instructions-item {
            justify-content: center;
        }

        &__info-button-start {
            max-width: 100%;
        }
    }
}