.header {
    display: flex;
    justify-content: space-between;
    margin: 32px auto;
    max-width: 1320px;

    &__title {
        font-weight: bold;
        font-size: 36px;
        color: $text-default;
    }

    &__invite {
        display: flex;
        justify-content: space-between;
        min-width: 180px;
        align-items: center;

        &:hover {
            cursor: pointer;
        }

        &:hover &-text {
            color: $text-default;
        }

        &:hover svg path {
            stroke: $text-default;
        }

        &-text {
            font-weight: normal;
            font-size: 14px;
            color: $interactive-text-default;
        }
    }
}