.ships {
    margin-top: 40px;
    display: flex;
    gap: 24px;
    flex-direction: column;

    &-big {
        display: flex;
        gap: 24px;
    }

    &-small {
        display: flex;
        gap: 16px;
    }
}