.cell {
    width: 32px;
    height: 32px;
    font-size: 16px;
    color: #717C96;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

    &--bg {
        background-color: #464F87;
    }

    &--hovered-axis {
        background-color: #FFFFFF;
        opacity: 0.05;
    }

    
    &--dragged {
        background-color: #FFFFFF;
        opacity: 0.2;
    }

    &:hover {
        background-color: #FFFFFF;
        opacity: 0.2;
    }
}