.cell {
    width: 32px;
    height: 32px;
    font-size: 16px;
    color: #717C96;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin: 2px;
    user-select: none;

    &--bg {
        background-color: #464F87;
        padding: 2px;
    }

    &--hovered-axis {
        background-color: #FFFFFF0D;
    }

    
    &--dragged {
        background-color: #FFFFFF33;
    }

    &--position {
        margin: 0;
    }

    &:hover {
        background-color: #FFFFFF33;
    }
}